* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
}

@font-face {
  font-family: "grotesk";
  src: url(./../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
  src: url(./../assets/fonts/static/SpaceGrotesk-Bold.ttf);
  src: url(./../assets/fonts/static/SpaceGrotesk-Medium.ttf);
}
:root {
  --color-white: #fff;
  --color-green: hsl(153, 71%, 59%);
}

body {
  font-family: "grotesk";
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  background-color: hsl(0deg, 0%, 8%);
}

.main {
  overflow: hidden;
  padding: 0 16px;
}
@media only screen and (min-width: 48em) {
  .main {
    padding: 0 32px;
  }
}

.line {
  max-width: 400px;
  margin: 0 auto;
  height: 1px;
  border: none;
  background-color: var(--color-white);
}
@media only screen and (min-width: 48em) {
  .line {
    max-width: 1110px;
  }
}

.h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.13636px;
  margin-bottom: 24px;
}
.h1--down {
  border-bottom: 4px solid var(--color-green);
}
@media only screen and (min-width: 48em) {
  .h1 {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -2.04545px;
    margin-bottom: 60px;
  }
  .h1--up {
    display: block;
  }
}
@media only screen and (min-width: 75em) {
  .h1 {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
    margin-bottom: 43p;
  }
  .h1--up {
    display: inline;
  }
}

.h2 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #ffffff;
  margin-bottom: 1px;
}
@media only screen and (min-width: 48em) {
  .h2 {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1.5px;
  }
}

.p {
  font-weight: 500;
  margin-bottom: 24px;
  color: #d9d9d9;
}
@media only screen and (min-width: 48em) {
  .p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 34px;
    padding-right: 20px;
    margin-bottom: 68px;
  }
}
@media only screen and (min-width: 75em) {
  .p {
    padding-right: 255px;
  }
}

.link,
.link:link,
.link:visited {
  letter-spacing: 2.28571px;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 2px solid var(--color-green);
  padding-bottom: 10px;
  transition: color 0.15s, opacity 0.2s;
}

.link:hover {
  color: var(--color-green);
}

.header {
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.2s, visibility 0.2s;
}
@media only screen and (min-width: 48em) {
  .header {
    width: 708.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 29px auto 0 auto;
  }
}
@media only screen and (min-width: 75em) {
  .header {
    width: 1080.5px;
    margin: 39px auto 0 auto;
  }
}
.header__logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.333333px;
  margin: 20px 0;
}
@media only screen and (min-width: 48em) {
  .header__logo {
    font-size: 32px;
    letter-spacing: -0.444444px;
    margin: 0;
  }
}
@media only screen and (min-width: 75em) {
  .header__logo {
    position: relative;
    left: -12px;
  }
}
.header__icons {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 154px;
  margin: 0 auto;
}
@media only screen and (min-width: 48em) {
  .header__icons {
    width: 193px;
    margin: 0;
  }
}
@media only screen and (min-width: 75em) {
  .header__icons {
    position: relative;
    left: -10px;
  }
}
.header a {
  text-decoration: none;
}
.header a:hover path {
  fill: var(--color-green);
}
.header path {
  transition: fill 0.15s;
}

.hero__section {
  max-width: 450px;
  margin: 0 auto 80px auto;
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 383px 244px;
  row-gap: 40px;
  text-align: center;
}
@media only screen and (min-width: 48em) {
  .hero__section {
    max-width: 1140.5px;
    text-align: left;
    margin-bottom: 60px;
    row-gap: revert;
    grid-template-rows: 1fr;
    grid-template-columns: 430px 1fr 322px;
  }
}
@media only screen and (min-width: 57em) {
  .hero__section {
    grid-template-columns: 430px 100px 322px;
    justify-content: center;
  }
}
@media only screen and (min-width: 75em) {
  .hero__section {
    max-width: 1440px;
    grid-template-columns: 665px 445px;
    grid-template-rows: 720px;
    margin-bottom: 104px;
  }
}
.hero__img-box {
  grid-row: 1/2;
  width: 174px;
  height: 100%;
  margin: 0 auto 0 auto;
}
@media only screen and (min-width: 48em) {
  .hero__img-box {
    width: revert;
    height: revert;
    margin: 0;
    grid-row: 1/2;
    grid-column: 3/4;
    position: relative;
    z-index: -1;
  }
}
@media only screen and (min-width: 75em) {
  .hero__img-box {
    grid-column: 2/3;
  }
}
.hero__img {
  background-image: url(./../assets/images/image-profile-mobile.webp);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 48em) {
  .hero__img {
    background-image: url(./../assets/images/image-profile-tablet.webp);
  }
}
@media only screen and (min-width: 75em) {
  .hero__img {
    background-image: url(./../assets/images/image-profile-desktop.webp);
  }
}
.hero__text-box {
  grid-row: 2/3;
}
@media only screen and (min-width: 48em) {
  .hero__text-box {
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: 151px;
    margin-right: -31.5px;
  }
}
@media only screen and (min-width: 75em) {
  .hero__text-box {
    margin-right: -41px;
    margin-top: 198px;
  }
}
.hero__rings {
  position: absolute;
  z-index: -1;
  top: 130px;
  left: -358px;
}
@media only screen and (min-width: 48em) {
  .hero__rings {
    left: -297px;
    top: 87px;
  }
}
@media only screen and (min-width: 48em) {
  .hero__rings {
    left: -130px;
    top: 135px;
  }
}
.hero__circle {
  position: absolute;
  top: 255px;
  right: -80.5px;
}
@media only screen and (min-width: 48em) {
  .hero__circle {
    top: 476px;
    right: -96.5px;
  }
}
@media only screen and (min-width: 75em) {
  .hero__circle {
    top: 500px;
    right: 514px;
  }
}

.exp__section {
  position: relative;
  max-width: 1110px;
  margin: 40px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
@media only screen and (min-width: 48em) {
  .exp__section {
    text-align: left;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 52px;
  }
}
@media only screen and (min-width: 75em) {
  .exp__section {
    row-gap: 58px;
  }
}
.exp__rings {
  position: absolute;
  right: -360px;
  bottom: -105px;
}
@media only screen and (min-width: 48em) {
  .exp__rings {
    right: -364px;
    bottom: -70px;
  }
}
@media only screen and (min-width: 75em) {
  .exp__rings {
    right: -404px;
    bottom: -60px;
  }
}
@media only screen and (min-width: 48em) {
  .exp__box {
    width: 50%;
  }
}
@media only screen and (min-width: 62.5em) {
  .exp__box {
    width: 33%;
  }
}
.exp__p {
  font-weight: 500;
  line-height: 26px;
  color: #d9d9d9;
}
@media only screen and (min-width: 48em) {
  .exp__p {
    font-size: 18px;
    line-height: 28px;
  }
}
@media only screen and (min-width: 48em) {
  .exp__line {
    display: none;
  }
}

.projects__section {
  max-width: 400px;
  margin: 80px auto 80px auto;
}
@media only screen and (min-width: 48em) {
  .projects__section {
    max-width: 1110px;
    margin: 100px auto 100px auto;
  }
}
@media only screen and (min-width: 75em) {
  .projects__section {
    margin: 140px auto 140px auto;
  }
}
.projects__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media only screen and (min-width: 48em) {
  .projects__header {
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 75em) {
  .projects__header {
    margin-bottom: 80px;
  }
}
.projects__h2 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.13636px;
}
@media only screen and (min-width: 48em) {
  .projects__h2 {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -2.04545px;
  }
}
@media only screen and (min-width: 75em) {
  .projects__h2 {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
  }
}
.projects__wrapper {
  max-width: 343px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
@media only screen and (min-width: 48em) {
  .projects__wrapper {
    max-width: 1110px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 70px;
  }
}
@media only screen and (min-width: 75em) {
  .projects__wrapper {
    column-gap: 30px;
  }
}
.projects__project {
  width: 340px;
  position: relative;
}
@media only screen and (max-width: 23em) {
  .projects__project {
    width: 100%;
  }
}
@media only screen and (min-width: 57em) {
  .projects__project {
    width: 344px;
  }
}
@media only screen and (min-width: 75em) {
  .projects__project {
    width: 540px;
  }
}
.projects__project__img--1, .projects__project__img--2, .projects__project__img--3, .projects__project__img--4, .projects__project__img--5, .projects__project__img--6 {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 253px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 75em) {
  .projects__project__img--1, .projects__project__img--2, .projects__project__img--3, .projects__project__img--4, .projects__project__img--5, .projects__project__img--6 {
    height: 400px;
  }
}
.projects__project__img--1 {
  background-image: url(./../assets/images/thumbnail-project-1-small.webp);
}
@media only screen and (min-width: 75em) {
  .projects__project__img--1 {
    background-image: url(./../assets/images/thumbnail-project-1-large.webp);
  }
}
.projects__project__img--2 {
  background-image: url(./../assets/images/thumbnail-project-2-small.webp);
}
@media only screen and (min-width: 75em) {
  .projects__project__img--2 {
    background-image: url(./../assets/images/thumbnail-project-2-large.webp);
  }
}
.projects__project__img--3 {
  background-image: url(./../assets/images/thumbnail-project-3-small.webp);
}
@media only screen and (min-width: 75em) {
  .projects__project__img--3 {
    background-image: url(./../assets/images/thumbnail-project-3-large.webp);
  }
}
.projects__project__img--4 {
  background-image: url(./../assets/images/thumbnail-project-4-small.webp);
}
@media only screen and (min-width: 75em) {
  .projects__project__img--4 {
    background-image: url(./../assets/images/thumbnail-project-4-large.webp);
  }
}
.projects__project__img--5 {
  background-image: url(./../assets/images/thumbnail-project-5-small.webp);
}
@media only screen and (min-width: 75em) {
  .projects__project__img--5 {
    background-image: url(./../assets/images/thumbnail-project-5-large.webp);
  }
}
.projects__project__img--6 {
  background-image: url(./../assets/images/thumbnail-project-6-small.webp);
}
@media only screen and (min-width: 75em) {
  .projects__project__img--6 {
    background-image: url(./../assets/images/thumbnail-project-6-large.webp);
  }
}
.projects__project__h3 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 7px;
}
.projects__project__p {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #d9d9d9;
  margin-bottom: 20px;
  word-spacing: 18px;
}
@media only screen and (min-width: 75em) {
  .projects__project__p {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 75em) {
  .projects__project__box {
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 48px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 540px;
    height: 400px;
  }
  .projects__project__box .link {
    opacity: 0;
  }
  .projects__project__box:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .projects__project__box:hover .link {
    opacity: 1;
  }
}
@media only screen and (min-width: 75em) {
  .projects__project__box .link {
    width: fit-content;
    margin: 0 auto;
  }
}
.projects__project__box .link:nth-child(1) {
  margin-right: 30px;
}
@media only screen and (min-width: 75em) {
  .projects__project__box .link:nth-child(1) {
    margin-right: auto;
  }
}

.footer {
  position: relative;
  background-color: hsl(0deg, 0%, 14%);
  padding: 60px 16px;
  text-align: center;
}
@media only screen and (min-width: 75em) {
  .footer {
    display: grid;
    justify-content: center;
    grid-template-rows: 340px 1fr;
    grid-template-columns: 445px 445px;
    column-gap: 220px;
    row-gap: 92px;
    text-align: left;
  }
}
.footer__text-box {
  max-width: 445px;
  margin: 0 auto;
}
@media only screen and (min-width: 75em) {
  .footer__text-box {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.footer__h2 {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -1.13636px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 48em) {
  .footer__h2 {
    font-size: 72px;
    line-height: 72px;
    letter-spacing: -2.04545px;
  }
}
@media only screen and (min-width: 75em) {
  .footer__h2 {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -2.5px;
    margin-bottom: 36px;
  }
}
.footer__p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #d9d9d9;
  margin-bottom: 50px;
}
@media only screen and (min-width: 48em) {
  .footer__p {
    font-size: 18px;
    line-height: 28px;
  }
}
.footer__social {
  position: revert;
  transform: revert;
  padding-top: 39px;
  border-top: 1px solid var(--color-white);
}
@media only screen and (min-width: 48em) {
  .footer__social {
    padding-top: 30px;
  }
}
@media only screen and (min-width: 75em) {
  .footer__social {
    padding: 0;
    padding-top: 47px;
    margin-top: 0;
    grid-column: 1/3;
    grid-row: 2/3;
    max-width: revert;
    width: 1110px;
  }
}
.footer__social img:hover {
  fill: #fff;
}
.footer__rings {
  position: absolute;
  top: 605px;
  left: 0;
  margin-left: -343px;
}
@media only screen and (min-width: 48em) {
  .footer__rings {
    top: 560px;
    margin-left: -368px;
  }
}
@media only screen and (min-width: 75em) {
  .footer__rings {
    top: 295px;
    margin-left: -205px;
  }
}

.form {
  max-width: 445px;
  margin: 45px auto 87px auto;
  position: relative;
  text-align: right;
}
@media only screen and (min-width: 48em) {
  .form {
    margin: 48px auto 92px auto;
  }
}
@media only screen and (min-width: 75em) {
  .form {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
  }
}
.form__name, .form__email, .form__message {
  width: 100%;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.222222px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 17px 24px;
  margin-top: 8px;
}
.form__name::placeholder, .form__email::placeholder, .form__message::placeholder {
  color: #fff;
  opacity: 0.5;
}
.form__name:focus, .form__email:focus, .form__message:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
.form__name {
  border-bottom: 1px solid var(--color-white);
}
.form__email {
  border-bottom: 1px solid var(--color-white);
}
.form__message {
  border-bottom: 1px solid var(--color-white);
  height: 124px;
  margin-bottom: 32px;
}
.form__btn {
  color: var(--color-white);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-green);
  cursor: pointer;
}
.form__btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
.form__icon {
  position: absolute;
  right: 0;
  width: 24px;
  height: 24px;
  color: #ff6f5b;
  transition: opacity 0.2s;
  opacity: 0;
}
.form__icon--name {
  top: 30px;
}
.form__icon--email {
  top: 100px;
}
.form__error {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.166667px;
  color: #ff6f5b;
  position: absolute;
  right: 0;
  margin-top: 5px;
  transition: opacity 0.2s;
  opacity: 0;
}
@media only screen and (max-width: 48em) {
  .form__error {
    font-size: 11px;
    margin-top: 2px;
  }
}

/*# sourceMappingURL=style.css.map */
